@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*-----------------------------------------------------------------*/
/* 1. CSS RESET
/*-----------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: 0px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height:auto;
	width: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

input[type="text"],input[type="password"],input[type="email"], textarea, select {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font: inherit;
}

/*-----------------------------------------------------------------*/
/* Global styles
/*-----------------------------------------------------------------*/
html {
	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
	color: #777c88;
}
body {
	font-size: 1rem;
}
h1, h2, h3, h4 {
	font-weight: bold;
	color: inherit;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.75rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.25rem;
}
h5 {
	font-size: 1.125rem;
}
strong, b {
	font-weight: bold;
}
em, i {
	font-style: italic;
}
p {
	line-height: 1.5em;
}
a {
 color: #fa3;
text-decoration: none;
}
/*-----------------------------------------------------------------*/
/* App styles
/*-----------------------------------------------------------------*/

.header-container {
  color: inherit;
  padding: 20px 0;
  justify-content: center;
  background-color: #2980b9;
}

.header {
  width: 900px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.app-name {
  display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
  justify-content: flex-start;
  padding: 0 20px;
}

.app-name h3 {
  margin: 0 0 0 15px;
  color: #fff;
}

.app-name::before {
  content: "\f249";
  font-family: "FontAwesome";
  font-size: 2rem;
  color: #fff;
}

.top-container {
  display: flex;
  box-shadow: 1px 1px 10px -6px #939393;
  /*background-color: #F6F6F6;*/
}

.top-item {
  flex: 1;
}

.top-left {
	display: flex;
  flex: initial;
  flex: 1;
  padding: 10px 10px 10px 20px;
}

.top-right {
	display: flex;
  flex: 2;
  padding: 10px 10px 10px 20px;
}

.style-switcher {
	display: flex;
	flex: 1;
	justify-content: flex-end;
}

.edit {
	display: flex;
	flex: 2;
}

.content-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
  display: flex;
	height: 800px;
}

.container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
}

.content-item {
  height: 200px;
  flex: 1;
  box-shadow: 1px 1px 10px -6px #939393;
}

.content-left {
  flex: initial;
  flex: 1;
  overflow-y: scroll;
	height: auto;
}

.content-right {
  flex: 2;
	height: auto;
}

.content-three {
  flex: 1;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-content-item {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
  display: flex;
  justify-content: center;
	padding: 20px;
	flex-direction: column;
	width: 80%;
}

.required {
    color: red;
}

.btn {
  display: inline-block;
  margin: 0 auto;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 9px 20px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 3px;
  -moz-user-select: none;
  user-select: none;
}

.btn-add {
  color: #fff;
  background-color: #1abc9c;
}

.btn-add:hover {
  color: #fff;
  background-color: #16a085;
}

.btn-edit {
  color: inherit;
  background-color: #ecf0f1;
  margin: 0 10px 0 0;
}

.btn-edit:hover {
  color: inherit;
  background-color: #bdc3c7;
}

.btn-delete {
  color: inherit;
  background-color: #ecf0f1;
  margin: 0 10px 0 0;
}

.btn-delete:hover {
  color: inherit;
  background-color: #bdc3c7;
}

.icon-doc-new::before {
  content: '\f067';
  font-family: FontAwesome;
  margin-right: 5px;
}

.icon-doc-edit::before {
  content: '\f040';
  font-family: FontAwesome;
  margin-right: 5px;
}

.icon-doc-delete::before {
  content: '\f1f8';
  font-family: FontAwesome;
  margin-right: 5px;
}

ul > li {
	padding: 15px;
  max-height: 60px;
  min-height: 60px;
  border-bottom: 1px solid #f2f2f2;
	list-style-type: none;
}

ul {
	margin: 0px;
	padding: 0px;
}

input {
  font-size: 16px;
  margin: 0 0 20px 0;
  margin-top: 0;
  border: 1px solid #e9eaec;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: 0;
  background: #f5f6f8;
  padding: 6px 0 7px 10px;
}

textarea {
  height: 180px;
  margin: 0 0 21px 0;
  border: 1px solid #e9eaec;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: 0;
  background: #f5f6f8;
  -webkit-appearance: none;
  padding: 6px 0 7px 10px;
}

.note-item {
	padding: 20px;
  max-height: 80px;
  min-height: 80px;
	border-top: none;
	border: 1px solid #f2f2f2;
}

.note-item.active {
	background-color: #9848a1;
	color: #fff;
}
.note-item:last-child {
	border-top: none;
}

.info {
	margin: 20px 6px 0 20px;
}

.add-notes {
	display: flex;
	flex: 1;
}

.my-notes {
	display: flex;
	flex: 1;
	align-items: center;
}

.my-notes label {
	font-size: 1.25rem;
	text-transform: uppercase;
}

#numberOfElements {
	color: #c0c1c5;
}

.styleswitcher {
    height: 40px;
		max-width: 40%;
    clear: both;
    padding: 0;
    margin: 0;
    font-size: 15px;
    position: relative;
    line-height: 22px;
    display: block;
    background-color: transparent;
    color: #2980b9;;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #2980b9;;
    box-sizing: border-box;
}

.styleswitcher select{
    cursor: pointer;
    height: 38px;
    width: 100%;
    opacity: 0;
    border: none;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.styleswitcher span {
    float: left;
    padding-left: 15px;
    font-weight: 600;
    height: 38px;
    line-height: 38px;
    padding-right: 36px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.styleswitcher::after{
	font-family: "FontAwesome";
	font-weight: 400;
	font-style: normal;
	text-rendering: auto;
	text-decoration: inherit;
	speak: none;
	display: block;
	line-height: 1;
	content: "\f107";
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	right: 12px;
	top: 9px;
}

.buttonbar {
	display: flex;
	flex: 2;
	justify-content: center;
}

.buttonbar-item {
    margin: 10px;
}
